<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.line2soft.preambul"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Application Test"
        android:targetPackage="net.line2soft.preambul" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light.Workaround">
        
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="net.line2soft.preambul.views.LocationInstallActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_location_install" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.LocationSelectionActivity"
            android:label="@string/title_activity_location_selection" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.LocationUninstallActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_location_uninstall" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.LocationUpdateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_location_update" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.SplashscreenActivity"
            android:label="@string/title_activity_splashscreen"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.SlippyMapActivity"
            android:label="@string/title_activity_SlippyMapActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!--activity
            android:name="net.line2soft.preambul.views.SlippyMapActivity"
            android:label="@string/title_activity_SlippyMapActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity-->
        <activity
            android:name="net.line2soft.preambul.views.ExcursionInfoActivity"
            android:label="@string/title_activity_excursion_info" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.ExcursionListActivity"
            android:label="@string/title_activity_excursion_list" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.ApplicationPreferenceActivity"
            android:label="@string/title_activity_preferences"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="net.line2soft.preambul.views.PoiInfoActivity"
            android:label="@string/title_activity_poi_info" >
        </activity>
        <activity 
            android:name="net.line2soft.preambul.views.PoiPreferenceActivity" 
            android:label="@string/title_activity_poi_preference"
            android:theme="@android:style/Theme.Black"
            android:exported="false">
	        <intent-filter>
	           <action android:name="net.line2soft.preambul.views.PoiPreferenceActivity" />
	           <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
	    </activity>
	    <activity
            android:name="net.line2soft.preambul.views.FavoriteListActivity"
            android:label="@string/title_activity_favorite_list" >
        </activity>
	    <activity
            android:name="net.line2soft.preambul.views.FavoriteEditActivity"
            android:label="@string/title_activity_favorite_edit"
        	android:configChanges="orientation|keyboardHidden" >
        </activity>
    </application>

</manifest>